.navbar {
  background-color: #1e1f1d; /* Change to a green color */
  padding: 20px 20px;
  color: white;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #61dafb;
}
